* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#searchInput {
  padding: 10px;
  font-size: 16px;
}

#carousel {
  position: relative;
  height: 60vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#carousel {
    position: relative;
    display: block;
    max-height: max-content;
    height: 100%;
    width: 100%; /* Carousel should take the full width */
    overflow: hidden; /* Hide images outside of the view */
}

#carousel img {
    position: absolute; /* Absolute to control their movement */
    right: 0;
    display: block;
    max-height: max-content;
    height: 100%;
    width: max-content;
    transform: translateX(100%); /* Start from outside the viewport */
    transition: transform 2s ease-in-out, right 2s ease-in-out;
}

img.active {
    transform: translateX(calc(50vw - 50%)); /* Center the image in the viewport */
}

img.exit {
    transform: translateX(100vw); /* Move image out to the right */
}

.loading {
  display: none;
}

.loading.visible {
  display: block;
}

.progress-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ddd;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: #4caf50;
  transition: width 0.5s;
}
