body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 4px;
    border-radius: 10px;
}
#queryTitle {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    position: fixed;
    z-index: 999;
    padding: 2rem;
    margin: 0;
    text-shadow: 0px 0px 4px white;
    border-radius: 10px;
    left: 40%;
    bottom: 10%;
    border: 1px solid white;
    font-size: 3rem;
}
#searchBar {
    margin: 0px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    background: #ffffff30;
    width: 100vw;
    top: 0px;
    padding: 10px;
}

#searchInput {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
   
}

#searchButton {
    padding: 10px;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #ccc;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #0056b3;
}

#toggleAnnyang {
    margin-left: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

#toggleAnnyang:hover {
    background-color: #218838;
}

#annyangStatus {
    margin-left: 20px;
    font-size: 16px;
    color: #555;
}

.progress-container {
    width: 100%;
    position:fixed;
    top:0px;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin-top: 0px;
    z-index: 999999;
}

.progress-bar {
    width: 0;
    height: 2px;
    background-color: #4caf50;
    border-radius: 5px;
}

.buffer-item.active {
    font-weight: bold;
    color: red;
}

#buffer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    overflow-x: auto;
    margin-top: 130px;
    z-index: 999999;
    position: absolute;
    justify-content: center;
}

.buffer-item {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
}
#annyangStatus {
    color:white;}
#toggleAnnyang.rec {
    
    box-shadow: red 0 0 5px;
    background:red;
}#carousel {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust as needed */
    overflow: hidden;
}

#carousel img {
    position: absolute;
    top: 0;
    left: 100%; /* Start outside the window on the right */
    width: 100%;
    transition: left 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 0;
}

#carousel img.active {
    left: 0; /* Move into view */
    opacity: 1;
}

#carousel img.exit {
    left: -100%; /* Move out of view to the left */
    opacity: 0;
}

#carousel img.active {
    left: 0;
    opacity: 1;
}

#carousel img.exit {
    left: -100%;
    opacity: 0;
}


.progress-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #eee;
}

.progress-bar {
    height: 100%;
    background: #76c7c0;
    width: 0;
}
