* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#searchInput {
  padding: 10px;
  font-size: 16px;
}

 
#carousel {
    position: relative;
    display: block;
    max-height: max-content;
    height: 100%;
    width: 100%; /* Carousel should take the full width */
    overflow: hidden; /* Hide images outside of the view */
}

#carousel img {
 
    position: relative;
    display: block;
    max-height: 60vh;
    height: 60vh;
    width: auto;
    transform: translateX(calc(100vw - 100%));
    transition: transform 2s ease-in-out, right 2s ease-in-out;
}

#carousel img.active {
        transform: translateX(calc(50vw - 100%)) !important;

}

#carousel  img.exit {
    transform: translateX(calc(100vw - 100%)) !important;
}

.loading {
  display: none;
}

.loading.visible {
  display: block;
}

.progress-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ddd;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: #4caf50;
  transition: width 0.5s;
}
